APP_NAME=Kaiyodai_Logistics
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_COOKIE=kaiyodai_main

PYTHON_PATH=/usr/bin/python3

DURATION_OF_STORAGE=365
NUMBER_UPLOAD_FILE_PER_USER=1
CUSTOM_STORAGE_PATH=/var/www/data
